:root {
  --background-color:#000000d9;
  --text-nav-color-bf: #ffffff94;
  --text-nav-color-af: #ffffffff;
  --text-color: #ffffffff;
  --border-color: #0d0c22;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem; /* 14px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-color);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  img {
    display: block;
    width: 100%;
  }

    /* nav */
  
    .nav {
      display: flex;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background: var(--background-color);
      box-shadow: 0 1px 0 var(--border-color);
      z-index: 10;
    }
    
    .nav-list {
      display: flex;
      margin-right: 2rem;
    }
    
    @media (max-width: 28.75em) {
      .nav {
        justify-content: center;
      }
    
      .nav-list {
        margin: 0 1rem;
      }
    }
  /* Hover để đổi màu chữ NAV */
    .nav-list a {
      color: var(--text-nav-color-bf);
      display: block;
      font-size: 1.8rem;
      padding: 1.9rem;
    }
    
    .nav-list a:hover {
      color: var(--text-nav-color-af);
    }

  /* ------------ */

  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    background-image: url("https://cdn.dribbble.com/users/13449/screenshots/12078823/media/c6662b0de7365559f79d9eb6088d9527.png?compress=1&resize=1000x750&vertical=top");
    background-repeat: no-repeat;
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--text-color);
  }

  /* About Me Section */
  .about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background-color);
  }

/* Projects section */

.projects-section {
  text-align: center;
  padding: 7rem 2rem;
  background: var(--background-color);

}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 2rem auto;
  border-bottom: 0.2rem solid var(--border-color);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 2.5rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--background-color);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: block;
}

.project-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 8px;
}

.project-title {
  font-size: 1.5rem;
  padding: 0.5rem 1rem 1rem 0.5rem;
}

/* Blog section */

.blog-section {
  text-align: center;
  padding: 7rem 2rem;
  background: var(--background-color);

}

.blog-section-header {
  max-width: 640px;
  margin: 0 auto 2rem auto;
  border-bottom: 0.2rem solid var(--border-color);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 2.5rem;
  }
}

/* "Automagic" image grid using no media queries */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .blog-section {
    padding: 6rem 1rem;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }
}

.blog {
  background: var(--background-color);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: block;
}

.blog-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 8px;
}

.blog-title {
  font-size: 1.5rem;
  padding: 0.5rem 1rem 1rem 0.5rem;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--background-color);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--background-color);
  border-top: 0.2rem solid var(--border-color);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
