<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="logo">
        <a href="">
          <span>&lt;</span>Sang Pham<span>/&gt;</span>
        </a>
      </div>
      <ul class="footer-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#proficiency">Proficiency</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#blogs">Blogs</a></li>
        <li><a href="#contatc">Contact</a></li>
      </ul>
    </div>
    <hr />
    <p class="copyright">
      &copy; 2025 <a href="#">sangphamv</a>. All Rights Reserved.
    </p>
  </div>
</footer>

<style>
  .footer {
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo a {
    font-size: 2rem;
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    font-weight: 900;
    color: #00bfa6;
  }

  .logo a span {
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    font-weight: 900;
  }

  .logo:hover a {
    color: #333333;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }

  .footer-links li {
    display: inline;
  }

  .footer-links a {
    text-decoration: none;
    color: #333
    font-size: 14px;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ddd;
  }

  .copyright {
    font-size: 14px;
    color: #777;
  }

  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
      align-items: center;
    }

    .footer-links {
      flex-direction: column;
      align-items: center;
    }
  }
  .footer-links li {
    margin: 5px 0;
  }
</style>
