---

---

<div id="projects">
  <div class="container">
    <h3>Projects</h3>
    <div class="group-card">
      <div class="card">
        <div class="circle">
          <span>01</span>
        </div>
        <div class="icon">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m24,6.928v13.072h-11.5v3h5v1H6.5v-1h5v-3H0V4.5c0-1.379,1.122-2.5,2.5-2.5h12.98c-.253.295-.54.631-.856,1H2.5c-.827,0-1.5.673-1.5,1.5v14.5h22v-10.993l1-1.079Zm-12.749,3.094C19.058.891,19.093.855,19.11.838c1.118-1.115,2.936-1.113,4.052.002,1.114,1.117,1.114,2.936,0,4.052l-8.185,8.828c-.116,1.826-1.623,3.281-3.478,3.281h-5.59l.097-.582c.043-.257,1.086-6.16,5.244-6.396Zm2.749,3.478c0-1.379-1.122-2.5-2.5-2.5-2.834,0-4.018,3.569-4.378,5h4.378c1.378,0,2.5-1.121,2.5-2.5Zm.814-1.073l2.066-2.229c-.332-1.186-1.371-2.057-2.606-2.172-.641.749-1.261,1.475-1.817,2.125,1.117.321,1.998,1.176,2.357,2.277Zm.208-5.276c1.162.313,2.125,1.134,2.617,2.229l4.803-5.18c.737-.741.737-1.925.012-2.653-.724-.725-1.908-.727-2.637,0-.069.08-2.435,2.846-4.795,5.606Z"
            ></path>
          </svg>
        </div>
        <h3>Ecommerce with Wordpress</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fuga
          adipisicing elit
        </p>
      </div>
      <div class="card">
        <div class="circle">
          <span>02</span>
        </div>
        <div class="icon">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m24,6.928v13.072h-11.5v3h5v1H6.5v-1h5v-3H0V4.5c0-1.379,1.122-2.5,2.5-2.5h12.98c-.253.295-.54.631-.856,1H2.5c-.827,0-1.5.673-1.5,1.5v14.5h22v-10.993l1-1.079Zm-12.749,3.094C19.058.891,19.093.855,19.11.838c1.118-1.115,2.936-1.113,4.052.002,1.114,1.117,1.114,2.936,0,4.052l-8.185,8.828c-.116,1.826-1.623,3.281-3.478,3.281h-5.59l.097-.582c.043-.257,1.086-6.16,5.244-6.396Zm2.749,3.478c0-1.379-1.122-2.5-2.5-2.5-2.834,0-4.018,3.569-4.378,5h4.378c1.378,0,2.5-1.121,2.5-2.5Zm.814-1.073l2.066-2.229c-.332-1.186-1.371-2.057-2.606-2.172-.641.749-1.261,1.475-1.817,2.125,1.117.321,1.998,1.176,2.357,2.277Zm.208-5.276c1.162.313,2.125,1.134,2.617,2.229l4.803-5.18c.737-.741.737-1.925.012-2.653-.724-.725-1.908-.727-2.637,0-.069.08-2.435,2.846-4.795,5.606Z"
            ></path>
          </svg>
        </div>
        <h3>Design Social Media with Figma</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fuga
          adipisicing elit
        </p>
      </div>
      <div class="card">
        <div class="circle">
          <span>03</span>
        </div>
        <div class="icon">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m24,6.928v13.072h-11.5v3h5v1H6.5v-1h5v-3H0V4.5c0-1.379,1.122-2.5,2.5-2.5h12.98c-.253.295-.54.631-.856,1H2.5c-.827,0-1.5.673-1.5,1.5v14.5h22v-10.993l1-1.079Zm-12.749,3.094C19.058.891,19.093.855,19.11.838c1.118-1.115,2.936-1.113,4.052.002,1.114,1.117,1.114,2.936,0,4.052l-8.185,8.828c-.116,1.826-1.623,3.281-3.478,3.281h-5.59l.097-.582c.043-.257,1.086-6.16,5.244-6.396Zm2.749,3.478c0-1.379-1.122-2.5-2.5-2.5-2.834,0-4.018,3.569-4.378,5h4.378c1.378,0,2.5-1.121,2.5-2.5Zm.814-1.073l2.066-2.229c-.332-1.186-1.371-2.057-2.606-2.172-.641.749-1.261,1.475-1.817,2.125,1.117.321,1.998,1.176,2.357,2.277Zm.208-5.276c1.162.313,2.125,1.134,2.617,2.229l4.803-5.18c.737-.741.737-1.925.012-2.653-.724-.725-1.908-.727-2.637,0-.069.08-2.435,2.846-4.795,5.606Z"
            ></path>
          </svg>
        </div>
        <h3>Movie Managerment System with Laravel</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fuga
          adipisicing elit
        </p>
      </div>
      <div class="card">
        <div class="circle">
          <span>04</span>
        </div>
        <div class="icon">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m24,6.928v13.072h-11.5v3h5v1H6.5v-1h5v-3H0V4.5c0-1.379,1.122-2.5,2.5-2.5h12.98c-.253.295-.54.631-.856,1H2.5c-.827,0-1.5.673-1.5,1.5v14.5h22v-10.993l1-1.079Zm-12.749,3.094C19.058.891,19.093.855,19.11.838c1.118-1.115,2.936-1.113,4.052.002,1.114,1.117,1.114,2.936,0,4.052l-8.185,8.828c-.116,1.826-1.623,3.281-3.478,3.281h-5.59l.097-.582c.043-.257,1.086-6.16,5.244-6.396Zm2.749,3.478c0-1.379-1.122-2.5-2.5-2.5-2.834,0-4.018,3.569-4.378,5h4.378c1.378,0,2.5-1.121,2.5-2.5Zm.814-1.073l2.066-2.229c-.332-1.186-1.371-2.057-2.606-2.172-.641.749-1.261,1.475-1.817,2.125,1.117.321,1.998,1.176,2.357,2.277Zm.208-5.276c1.162.313,2.125,1.134,2.617,2.229l4.803-5.18c.737-.741.737-1.925.012-2.653-.724-.725-1.908-.727-2.637,0-.069.08-2.435,2.846-4.795,5.606Z"
            ></path>
          </svg>
        </div>
        <h3>Web Commic with Directus</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fuga
          adipisicing elit
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 120rem;
  }
  h3 {
    font-size: 5rem;
    font-weight: 700;
    color: #333;
    padding: 4rem 0;
    text-align: center;
  }

  .group-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .card {
    width: 590px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    padding: 36px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .circle {
    width: 96px;
    height: 96px;
    background: #00bfa6;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -28px;
  }

  .circle span {
    position: absolute;
    bottom: 24px;
    left: 28px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }

  .icon {
    width: 48px;
    fill: #7c3aed;
  }

  .card h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: left;
  }

  .card p {
    font-size: 14px;
    color: #71717a;
    line-height: 1.6;
  }

  .card:hover {
    transform: translateY(-10px);
    transition: 0.5s;
  }

  @media (max-width: 768px) {
    .container {
      padding: 2rem;
      height: auto;
    }
    h3 {
      font-size: 4rem;
      padding: 2rem 0;
      text-align: center;

    }
    .group-card {
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
</style>
